# Python
venv/
__pycache__/
*.pyc

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Kubernetes
kubeconfig

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Secrets
*.pem
*.key
*.crt
secrets.yaml


*.deploy.yaml

